imageio==2.37.0
lazy_loader==0.4
networkx==3.5
numpy==2.3.1
packaging==25.0
pillow==11.3.0
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
scikit-image==0.25.2
scipy==1.16.0
tifffile==2025.6.11
trimesh==4.6.13
